<h1><%= @subject.name %></h1>
<p>This forum was created by: <%= link_to @subject.profile.user.username, profile_path(@subject.profile.user) %> <%= time_ago_in_words(@subject.created_at) + " ago"%></p>

<p><%= @subject.description %></p>
